body {
  background-color: #3993ed;
}
table tr td {
  border: 2px solid rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}
button {
  background-color: #0d30ca; /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #fff;
  color: #0d30ca;
}