.title {
  color: #fff;
}

body {
  background-color: #3993ed;
}
table tr td {
  border: 2px solid rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

td {
  transition-duration: 0.4s;
  cursor: crosshair;
}

.ship {
  background-color: #fff;
}

td:hover:not(.ship) {
  background-color: hwb(0 31% 69% / 0.555);
}

button {
  background-color: #0d30ca;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #fff;
  color: #0d30ca;
}

#gameFields {
  position: absolute;
  display: inline-block;
  margin-left: 150px;
}

.player1Field {
  display: inline-block;
}
.player2Field {
  display: inline-block;
  margin-left: 35px;
}

#ship-menu {
  border: 5px #fff solid;
  position: absolute;
  padding: 10px;
  display: inline-block;
}

.menu-item {
  border: 2px #fff solid;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.4s;
}

.menu-item.chosen {
  background-color: #fff;
  color: #3993ed;
}

.menu-item:hover:not(.chosen) {
  background-color: hwb(0 31% 69% / 0.555);
}